<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анти Булінг</title>
    <link rel="shortcut icon" href="~/Content/icon.ico" type="image/x-icon">
     <link href='~/Content/bootstrap.min.css' rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.min.css" rel="stylesheet">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>

<body>
    <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index","Home")" id="logotype">
            <img src="~/Content/Contact-icon.png" style="height:30px; width: 30px">
            Анти Булінг
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="@Url.Action("Index","Home")">Головна</a>
                <a class="nav-item nav-link" href="@Url.Action("Index","Home")">Сторінка психолога</a>
                <a class="nav-item nav-link" href="@Url.Action("Index","Home")">Анонімні відгуки</a>
            </div>
            <ul class="navbar-nav flex-row ml-md-auto">

                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="navbar-nav">
                            @if (User.IsInRole("Admin") == true)
                            {
                                <a class="nav-item nav-link">@Html.ActionLink("AdminPanel", "Index", "AdminPanel", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-danger" })</a>
                            }


                            <a class="nav-item nav-link">@Html.ActionLink("Привіт, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-dark" })</a>
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-dark">Logout</a>
                        </div>

                    }
                }
                else
                {

                    <div class="navbar-nav">

                        <a class="nav-item nav-link">@Html.ActionLink("Реєстрація", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-danger" })</a>
                        <a class="nav-item nav-link">@Html.ActionLink("Логін", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-danger" })</a>
                    </div>
                }
            </ul>
        </div>

    
    </nav>
    </header>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@
    @RenderBody()

            <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
                <div class="container text-center">
                    <small>Copyright &copy; <a href="https://nobullying.azurewebsites.net/">nobullying.azurewebsites.net</a> </small>
                </div>
            
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    </footer>
</body>
</html>
